/client/feederInterface/nbproject/private/
/client/feederInterface/build/
/client/feederInterface/nbbuild/
/client/feederInterface/dist/
/client/feederInterface/nbdist/
/client/feederInterface/.nb-gradle/